body {
    background: rgba(0, 0, 255, 0.616);
    font: normal 15pt Arial;
    text-align: center;
}
header {
    color: white;
    text-align: center;
}
section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 400px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.301);
    color: rgb(0, 0, 255);
}

footer {
    color: white;
    font-style: italic;
    text-align: center;
}
img {
    border-radius: 50%;
    border: 5px solid rgba(0, 0, 255, 0.356);
    width: 200px;
    margin-top: 12px;
}
h5 {
    margin-top: 65px;
    color: black;
}
.projetos {
    display: inline-block;
    background-color: rgba(0, 0, 255, 0.356);
    border: 2px solid black;
    box-shadow: 5px 5px 20px rgba(0, 0, 255, 0.356);
    margin: auto;
    margin-top: 12px;
    height: 150px;
    width: 150px;
    border-radius: 20;

}
.projetos:hover {
    background: rgba(0, 0, 255, 0.219);
    box-shadow: 5px 5px 20px black;
}
@media screen and (max-width:768px) {
    body {
        font: normal 13pt Arial;
        text-align: center;
    }
    section {
        padding: 10px;
        width: 350px;
    }
    img {
        width: 150px;
        margin-top: 10px;
    }
    h5 {
        margin-top: 30px;
    }
    .projetos {
        height: 100px;
        width: 100px;
    }
}