body {
    background: rgba(0, 0, 255, 0.616);
    font: normal 15pt Arial;
    text-align: center;
}
header {
    color: white;
}
section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.301);
}
footer {
    color: white;
    font-style: italic;
}
#voltar {
    background: #aeaeae;
    border: 4px solid #aeaeae;
    border-radius: 50%;
}
@media screen and (max-width:768px) {
    body {
        font: normal 13pt Arial;
        text-align: center;
    }
    section {
        padding: 10px;
        width: 350px;
    }
    img {
        width: 150px;
        margin-top: 10px;
    }
    h5 {
        margin-top: 40px;
    }
    .projetos {
        height: 100px;
        width: 100px;
    }
    #voltar {
        width: 50px;
        margin-top: 5px;
        border: 2px solid #aeaeae;
    }
}